{% load static %}
    <!-- Barra Lateral Esquerda -->
    <div class="sidebar">

        <div>
            <a class="tab {% if request.resolver_match.url_name == 'home' %}active-tab{% endif %}" href="{% url 'home' %}">Home</a>
        </div>
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'produtos,produtos_ficha,produtos_cmm,novo_produto,denominacoes,denominacoes_ficha,nova_denominacao' %}active-tab{% endif %}" href="{% url 'produtos' %}">Produtos DAF</a>
            {% endwith %}    
        </div> 
        
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'fornecedores, fornecedor_representante_novo, fornecedores_representantes, fornecedores_comunicacoes, fornecedores_faq, fornecedor_faq_novo, fornecedor_faq_ficha, fornecedor_novo, fornecedor_ficha' %}active-tab{% endif %}" href="{% url 'fornecedores' %}">Fornecedores</a>
            {% endwith %}
        </div>
        <!-- <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in '' %}active-tab{% endif %}" href="">Demandas de Imprensa/LAI</a>
            {% endwith %}
        </div> -->
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'proaq, proaq_ficha_dados_gerais, proaq_ficha_evolucao, proaq_ficha_evolucao_nova, nova_tramitacao, proaq_ficha_tramitacoes, novo_proaq' %}active-tab{% endif %}" href="{% url 'proaq' %}">Processos Aquisitivos</a>
            {% endwith %}
        </div>
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'contratos, contrato_novo, arps, arp_nova, arp_ficha' %}active-tab{% endif %}" href="{% url 'contratos' %}">Contratos</a>
            {% endwith %}
        </div>
        
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'prog_basico, prog_especializado, prog_estrategico' %}active-tab{% endif %}" href="{% url 'prog_basico' %}">Programação</a>
            {% endwith %}
        </div>
        <!-- <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in '' %}active-tab{% endif %}" href="">Distribuição</a>
            {% endwith %}
        </div>
        
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in '' %}active-tab{% endif %}" href="">Gestão de Pacientes</a>
            {% endwith %}
        </div>
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in '' %}active-tab{% endif %}" href="">Planejamento</a>
            {% endwith %}
        </div> -->
        <div>
            {% with current_url=request.resolver_match.url_name %}
            <a class="tab {% if current_url in 'consultores_tecnicos, consultor_contrato_ficha' %}active-tab{% endif %}" href="{% url 'consultores_tecnicos' %}">Consultores Técnicos</a>
            {% endwith %}
        </div>

        <!-- Adicione o botão abaixo -->
        <div id="toggleButton" class="toggle-button"><i class="fas fa-arrow-left"></i></div>
        

    </div>
    <script src="{% static 'js/_sidebar.js' %}"></script>