.sidebar {
    background-color: #3B3B3B;
    flex: 0 0 12%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
}

.tab {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
    border-left: 4px solid transparent;
}

.tab:hover {
    background-color: #2e2e2e;
    font-weight: bold;
    border-left: 4px solid white;
}

.active-tab {
    color: white;
    font-weight: bold;
    border-left: 4px solid white;
    background-color: #2e2e2e;
}

.logout-tab {
    margin-top: auto;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logout-tab i {
    margin-right: 10px;
}

.logout-tab:hover {
    background-color: #2e2e2e;
    font-weight: bold;
    border-left: 4px solid white;
}

/* Media queries para responsividade da sidebar */

@media (max-width: 768px) {
    .sidebar {
        width: 60px;  /* Largura fixa que mostrará apenas ícones, por exemplo */
    }

    .tab, .logout-tab {
        font-size: 0;  /* Esconde o texto, deixando apenas os ícones visíveis */
        justify-content: center;  /* Centraliza os ícones */
    }

    /* Quando você hover em uma aba na versão compacta, mostrará o texto */
    .tab:hover, .logout-tab:hover {
        font-size: 12px; 
        width: 12%;  /* Restaura a largura original ao pairar */
    }
}

@media (max-width: 480px) {
    /* Aqui você pode ocultar a barra lateral e mostrar um botão hamburger no topo para revelar a barra lateral, se desejado. Por enquanto, apenas esconderei a barra lateral. */
    .sidebar {
        display: none;
    }
}


.toggle-button {
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding: 5px 10px 0px 0px;
    text-align: right;
}

.sidebar.collapsed .tab,
.sidebar.collapsed .logout-tab {
    font-size: 0; /* Esconde o texto, deixando apenas os ícones visíveis */
    justify-content: center;
}

.sidebar.collapsed .tab:hover,
.sidebar.collapsed .logout-tab:hover {
    font-size: 0; /* Garante que o texto permanece oculto mesmo quando pairado */
}

.sidebar {
    transition: width 0.3s ease-in-out;
}
