.fundo-destaque {
    padding: 5px 10px; /* Ajuste o padding conforme necessário */
    border-radius: 10px; /* Ajuste o border-radius conforme desejado */
    display: inline-block; /* Faz o elemento se comportar como bloco, mas apenas ocupando o espaço necessário */
}

.tipo-adaptativo {
    background-color: #07285d !important;
    color: white;
}

.tipo-evolutivo {
    background-color: #0056e0 !important;
    color: white;
}

.tipo-corretivo {
    background-color: #01a992 !important;
    color: black;
}

.status-naoiniciado {
    background-color: #949494 !important;
    color: black;
}

.status-emdesenvolvimento {
    background-color: #ffea00 !important;
    color: black;
}

.status-entregue {
    background-color: #0dff00 !important;
    color: black;
}

.status-cancelado {
    background-color: #ffb2b2 !important;
    color: black;
}
