.area-scroll{
    overflow-y: auto;
}

.presentation-container {
    background-color: #dee5e9;
    width: 98%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 15px;

}

.title-row {
    text-align: left; /* Centraliza o título */
    margin-bottom: 5px; /* Espaço abaixo do título antes dos boxes */
    font-size: 14px;
    font-weight: bold;
}

.boxes-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Distribui os boxes uniformemente com espaço ao redor */
    gap: 30px; /* Espaçamento entre os boxes */
}


.presentation-box {
    width: 12%;
    height: 85px;
    background-color: white;
    border-left: 10px solid #1B2144;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    
    padding: 5px 10px 5px 5px;
    /* display: flex;
    flex-direction: column; */
    border-radius: 5px;

}

.presentation-box h2 {
    font-size: 12px;
    color: black;
    margin: 5px 5px;
    font-weight: bold;
}

.presentation-box p {
    font-size: 35px;
    font-weight: normal;
    color: black;
    margin: 5px 5px 20px;
    text-align: right;
}

.area-cards-alertas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    overflow-y: hidden;
    overflow-x: auto;
    cursor: grab;
}

.area-cards-alertas:active {
    cursor: grabbing;
}



.card-alerta{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    margin-left: 20px;
    cursor: pointer;
}

.faixa-alerta{
    width: 100%;
    height: 10%;
    border-radius: 2px;
}

.nivel-1{
    background-color: #91000f;
}

.nivel-2{
    background-color: #d50015;
}

.nivel-3{
    background-color: #ff4646;
}


.caixa-texto-alerta{
    margin: 20px;
    margin-top: 10px;
}

.alerta-unidade-daf{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

.titulo-alerta{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.alerta-texto{
    font-size: 14px;
    text-align: justify;
    color: black;
    max-height: 190px;
    overflow-y: auto;
    scrollbar-width: none;
}

.alerta-texto::-webkit-scrollbar {
    display: none;
}


.simbolo-alerta{
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
}


.section-tabela {
    /* margin: 10px 10px 10px 10px;
    padding: 0px 10px 10px 10px; */
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 100%;
    height: 600px; /* Ajuste para a altura total de três linhas da tabela */
    overflow-y: auto;
  }

  .table-fixed-head {
    display: block;
  }
  
  .table-fixed-head thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
  }
  

  
  

/*--colunas--*/
.col-id {
    width: 2% !important;
}
.col-status {
    width: 6% !important;
    text-align: left !important;
}

.col-mensagem {
    width: 50% !important;
    text-align: left !important;
}

.col-modalidade {
    width: 8% !important;
    text-align: left !important;
}

.col-contrato {
    width: 6% !important;
    text-align: left !important;
}

.col-data {
    width: 5% !important;
    text-align: left !important;
}
.col-denominacao {
    width: 10% !important;
    text-align: left !important;
}
.col-fornecedor {
    width: 20% !important;
    text-align: left !important;
}
.col-valor {
    width: 5% !important;
    text-align: right !important;
}

.col-nivel {
    width: 10% !important;
    text-align: right !important;
}


/*--colunas--*/
.log-id {
    width: 3% !important;
}
.log-usuario {
    width: 7% !important;
    text-align: left !important;
}
.log-unidade {
    width: 7% !important;
    text-align: left !important;
}
.log-data {
    width: 7% !important;
    text-align: center !important;
}
.log-modulo {
    width: 8% !important;
    text-align: left !important;
}

.log-acao {
    width: 5% !important;
    text-align: center !important;
}
.log-descricao {
    width: 40% !important;
    text-align: left !important;
}