/* ==== ESTRUTURA/LAYOUT ==== */
#usuarioForm {
    padding: 20px 10px 0 10px;
}

.section {
    margin: 5px 0px 15px 10px;
    padding: 0px 10px 10px 10px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.horizontal-sections {
    display: flex;
    justify-content: space-between;
}

.half-section {
    width: calc(50% - 10px);
    box-sizing: border-box;
}

/* ==== CONTROLES DE INPUT ==== */
h3 {
    margin-bottom: 5px;
    font-size: 12px;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.grid input, .grid select {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.input-cpf {
    width: 100px;
    text-align: center;
}

.input-nome-completo {
    width: 280px;
}

.select-genero {
    width: 100px;
}

.select-cor-pele {
    width: 120px;
}

.unidade_daf {
    width: 80px;
}

/* Parece haver um conflito aqui; você definiu 'celular' duas vezes e 'ramal_ms' uma vez. 
   Manterei todas as declarações, mas você pode precisar ajustar isso conforme necessário. */
.ramal_ms {
    width: 10px;
}

.celular {
    width: 20px; /* Talvez você quisesse que fosse 40px? */
}

/* ==== BOTÕES ==== */
.buttons {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 10px;                  /* Define um espaço entre os botões */
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnEdit {
    background-color: #FFC107;
}

#btnCancel {
    background-color: #b8b8b8;
}

#btnSave {
    background-color: #28A745;
}

.buttons button:hover {
    opacity: 0.9;
}
