<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-parcela {
        max-width: 80%;  /* ou qualquer largura que você desejar */
        font-size: 16px !important;
    }

    .horizontal-sections-modal-parcela {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  /* Alinha os itens ao topo */
        width: 100%;
        height: 75px;
    }

    .modal-content.objeto{
        min-height: 80% !important;
    }

</style>

<!-- Modal -->
<div class="modal fade" id="contratoObjetoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-parcela" role="document">
        <div class="modal-content objeto">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Objeto do Contrato</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            <form id="objetoForm">
                <input type="hidden" name="csrfmiddlewaretoken">{% csrf_token %}
                <div class="horizontal-sections-modal-parcela" >
                    <!-- Logs -->
                    <div class="section" style="border: 0px !important;">
                        <h3>Logs</h3>
                        <div class="grid" style="font-size: 10px;">
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="objeto_id" style="width: 100px;"  readonly>
                                <label for="objeto_id">ID</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="objeto_log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                                <label for="objeto_log_data_registro">Data do Registro</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_responsavel" id="objeto_log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                                <label for="objeto_log_responsavel_registro">Responsável pelo Registro</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="objeto_log_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                                <label for="objeto_log_ult_atualizacao">Última Atualização</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_responsavel" id="objeto_log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                                <label for="objeto_log_responsavel_atualizacao">Responsável Atualização</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_edicoes" id="objeto_log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                                <label for="objeto_log_edicoes">Nº Edições</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Objeto -->
                <div class="horizontal-sections-modal-parcela" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="section" style="border: 0px !important;">
                        <h3>Objeto</h3>
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3" style="max-width: 100px !important;">
                                {{ form_objeto.numero_item }}
                                <label>{{ form_objeto.numero_item.label }}</label>
                                <input type="hidden" id="ctobjeto_contrato_hidden" name="contrato" readonly>
                                <input type="hidden" id="ctobjeto_arpItem_hidden" name="arp_item" readonly>
                            </div>
                            <div class="form-floating mb-3 full-width">
                                {{ form_objeto.produto }}
                                <label>{{ form_objeto.produto.label }}</label>
                                <input type="hidden" id="ctobjeto_produto_hidden" name="ctobjeto_produto_hidden" readonly>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Parcelas e Quantidades -->
                <div class="horizontal-sections-modal-parcela" style="margin-bottom: 20px;">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 14px;">
                            
                            <!-- Parcelas -->
                            <div class="subgrid" style="margin-right: 40px;">
                                <h3>Parcelas</h3>
                                <div class="subgrid-elementos">
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_parcelas" class="form-control" style="width: 120px; text-align: right;" readonly>
                                        <label>Parcelas</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_parcelas_entregues" class="form-control" style="width: 120px; text-align: right;" readonly>
                                        <label>Entregues</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_parcelas_atraso" class="form-control" style="width: 120px; text-align: right;" readonly>
                                        <label>Com Atraso</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_parcelas_dias_atraso" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Dias de Atraso</label>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Quantidades -->
                            <div class="subgrid">
                                <h3>Quantidades</h3>
                                <div class="subgrid-elementos">
                                    <div class="form-floating mb-3" style="width: 150px;">
                                        {{ form_objeto.fator_embalagem }}
                                        <label>{{ form_objeto.fator_embalagem.label }}</label>
                                    </div>
                                    <div class="form-floating mb-3" style="margin-left: 20px;">
                                        <input type="text" id="ctobjeto_qtd_contratada" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Qtd Contratada</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_qtd_doada" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Qtd Doada</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_qtd_total" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Qtd Total</label>
                                    </div>
                                    <div class="form-floating mb-3" style="margin-left: 20px;">
                                        <input type="text" id="ctobjeto_qtd_entregue" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Qtd Entregue</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_qtd_a_entregar" class="form-control" style="width: 150px; text-align: right;" readonly>
                                        <label>Qtd a Entregar</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Valores -->
                <div class="horizontal-sections-modal-parcela" style="margin-bottom: 20px;">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 14px;">
                                                        
                            <!-- Valores -->
                            <div class="subgrid">
                                <h3>Valores</h3>
                                <div class="subgrid-elementos">
                                    <div class="form-floating mb-3">
                                        {{ form_objeto.valor_unitario }}
                                        <label>{{ form_objeto.valor_unitario.label }}</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" id="ctobjeto_valor_total" class="form-control" style="width: 200px; text-align: right;" readonly>
                                        <label>Valor Total</label>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>

                <!-- Observações -->
                <div class="horizontal-sections-modal-parcela">
                    <div class="section" style="border: 0px !important;">
                        <h3>Observações</h3>
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3 full-width">
                                {{ form_objeto.observacoes_gerais }}
                                <label>{{ form_objeto.observacoes_gerais.label }}</label>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModalButton" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnDeletarObjeto" style="background-color: rgb(221, 0, 0); border-color: rgb(221, 0, 0);">Deletar</button>
                <button type="button" class="btn btn-primary" id="btnSalvarObjeto" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#contratoObjetoModal').modal('hide');
        });
    });
</script>