<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-fiscal-ficha {
        min-width: 50%;  /* ou qualquer largura que você desejar */
        font-size: 16px !important;
    }

    .horizontal-sections-modal-parcela {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  /* Alinha os itens ao topo */
        width: 100%;
        height: 75px;
    }

    .modal-content{
        height: 40%;
        min-height: 520px;
    }

    .modal-body{
        height: auto;
    }


</style>

<!-- Modal -->
<div class="modal fade" id="contratoFiscalFichaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-fiscal-ficha" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fiscal do Contrato</h5>
                <button type="button" class="close closeModalButtonFichaFiscal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id="fiscalForm">
                    {% csrf_token %}
                    <div class="horizontal-sections-modal-parcela" >
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 10px;">
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="fiscal_id" style="width: 100px;"  readonly>
                                    <label for="parcela_id">ID</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="fiscal_log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                                    <label for="fiscal_log_data_registro">Data do Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="fiscal_log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                                    <label for="fiscal_log_responsavel_registro">Responsável pelo Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="fiscal_log_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                                    <label for="fiscal_log_ult_atualizacao">Última Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="fiscal_log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                                    <label for="fiscal_log_responsavel_atualizacao">Responsável Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_edicoes" id="fiscal_log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                                    <label for="fiscal_log_edicoes">Nº Edições</label>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="horizontal-sections-modal-parcela">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 14px;">
                                
                                <div class="form-floating mb-3" style="width: 48%">
                                    {{ form_fiscal.fiscal }}
                                    <label>{{ form_fiscal.fiscal.label }}</label>
                                </div>
                                <div class="form-floating mb-3" style="display: flex; align-items: center; margin-left: 20px;">
                                    <input type="checkbox" id="id_fiscal_outro_checkbox" class="form-checkbox" style="width: 20px; height: 20px;">
                                </div>
                                
                                <div class="form-floating mb-3" style="width: 45%">
                                    {{ form_fiscal.fiscal_outro }}
                                    <label>{{ form_fiscal.fiscal_outro.label }}</label>
                                </div>
                                
                            </div>

                            <div class="grid" style="font-size: 14px;">
                                
                                <div class="form-floating mb-3">
                                    {{ form_fiscal.status }}
                                    <label>{{ form_fiscal.status.label }}</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form_fiscal.documento_sei }}
                                    <label>{{ form_fiscal.documento_sei.label }}</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" style="width: 160px;" id="id_fiscal_data_inicio" name="data_inicio">
                                    <label for="id_fiscal_data_inicio">Data Início</label>
                                </div>
    
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" style="width: 160px;" id="id_fiscal_data_fim" name="data_fim">
                                    <label for="id_fiscal_data_fim">Data Fim</label>
                                </div>

                            </div>

                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3 full-width">
                                    {{ form_fiscal.observacoes_gerais }}
                                    <label>{{ form_fiscal.observacoes_gerais.label }}</label>
                                </div>
                            </div>

                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3">
                                    <input type="hidden" id="id_fiscal_contrato_hidden" name="id_fiscal_contrato_hidden" readonly>
                                    <input type="hidden" id="id_fiscal_usuario_hidden" name="fiscal_usuario_hidden" readonly>
                                    <input type="hidden" id="id_fiscal_data_fim_maior_hidden" readonly>
                                    <input type="hidden" id="id_fiscal_data_fim_hidden" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModalButtonFichaFiscal" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnDeletarFiscal" style="background-color: rgb(221, 0, 0); border-color: rgb(221, 0, 0);">Deletar</button>
                <button type="button" class="btn btn-primary" id="botaoSalvarFiscal" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
        </div>
    </div>
</div>
