<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-empenho-item {
        min-width: 60%; 
        font-size: 16px !important;
    }

    .horizontal-sections-modal-parcela {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
        width: 100%;
        height: 75px;
    }

    .modal-content{
        height: 50%;
    }

    .modal-body{
        height: auto;
    }


</style>

<!-- Modal -->
<div class="modal fade" id="empenhoItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-empenho-item" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item do Empenho Orçamentário</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id="entregaForm">
                    {% csrf_token %}
                    <div class="horizontal-sections-modal-parcela" >
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 10px;">
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="entrega_id" style="width: 100px;"  readonly>
                                    <label for="entrega_id">ID</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="entrega_log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                                    <label for="entrega_log_data_registro">Data do Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="entrega_log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                                    <label for="entrega_log_responsavel_registro">Responsável pelo Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="entrega_log_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                                    <label for="entrega_log_ult_atualizacao">Última Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="entrega_log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                                    <label for="entrega_log_responsavel_atualizacao">Responsável Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_edicoes" id="entrega_log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                                    <label for="entrega_log_edicoes">Nº Edições</label>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="horizontal-sections-modal-parcela">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 14px;">
                                
                                <div class="form-floating mb-3" style="max-width: 100px !important;">
                                    <input type="text" class="form-control" id="id_entrega_item" readonly>
                                    <label>Nº do Item</label>
                                </div>
                                <div class="form-floating mb-3" style="max-width: 120px !important;">
                                    <input type="text" class="form-control" id="id_entrega_parcela" readonly>
                                    <label>Nº da Parcela</label>
                                </div>
                                <div class="form-floating mb-3 full-width">
                                    <input type="text" class="form-control" id="id_entrega_produto" readonly>
                                    <label>Produto Farmacêutico</label>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="horizontal-sections-modal-parcela">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 14px;">
                                
                                <div class="form-floating mb-3" style="max-width: 150px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_fatorEmbalagem" value="140" readonly>
                                    <label>Fator Embalagem</label>
                                </div>
                                <div class="form-floating mb-3" style="max-width: 150px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_valorUnitario" value="R$ 151,23" readonly>
                                    <label>Valor Unitário R$</label>
                                </div>
                                <div class="form-floating mb-3" style="max-width: 150px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_qtdEmpenhar" value="349.842" readonly>
                                    <label>Qtd a Empenhar</label>
                                </div>
                                <div class="form-floating mb-3" style="margin-left: 30px; max-width: 150px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_qtdEmpenho">
                                    <label>Qtd Empenho</label>
                                </div>
                                <div class="form-floating mb-3" style="max-width: 150px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_embalagens" readonly>
                                    <label>Embalagens</label>
                                </div>
                                <div class="form-floating mb-3" style="max-width: 180px !important;">
                                    <input type="text" class="form-control" style="text-align: right;" id="itemEmpenho_valorEmpenho">
                                    <label>Valor do Empenho</label>
                                </div>
                                
                            </div>

                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3 full-width">
                                    {{ form_ct_entrega.observacoes_gerais }}
                                    <label>{{ form_ct_entrega.observacoes_gerais.label }}</label>
                                </div>
                            </div>

                            <input type="hidden" id="id_entrega_contrato_hidden" name="id_entrega_contrato_hidden" readonly>
                            <input type="hidden" id="id_entrega_parcela_hidden" name="id_entrega_parcela_hidden" readonly>
                            
                            <input type="hidden" id="id_qtd_entregue_hidden" readonly>
                            
                        </div>
                    </div>
    
                    
    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModalButton" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnDeletarEntrega" style="background-color: rgb(221, 0, 0); border-color: rgb(221, 0, 0);">Deletar</button>
                <button type="button" class="btn btn-primary" id="botaoSalvarEntrega" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#empenhoItemModal').modal('hide');
        });
    });
</script>