{% extends 'main/base_main.html' %}
{% load static %}
{% load contratos_filters %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '\styles\home.css' %}">
{% endblock %}
{% block content %}    

    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-home"></i> Home
    </div>   

    <div class="area-scroll">
    
             
        
        <!-- Contêiner das Caixas de Apresentação -->     
        <div class="presentation-container">
            <div class="title-row">
                <i class="fas fa-chart-bar"></i>&nbsp;Principais Números
            </div>

            <div class="boxes-row">
            
                <div class="presentation-box">
                    <h2>Produtos Farmacêuticos</h2>
                    <p>{{ tot_produtos }}</p>
                </div>
    
                <div class="presentation-box">
                    <h2>Fornecedores</h2>
                    <p>{{ tot_fornecedores }}</p>
                </div>
    
                <div class="presentation-box">
                    <h2>Processos Aquisitivos</h2>
                    <p>{{ tot_proaqs }}</p>
                </div>
    
                <div class="presentation-box">
                    <h2>ARPs</h2>
                    <p>{{ tot_arps }}</p>
                </div>
    
                <div class="presentation-box">
                    <h2>Contratos</h2>
                    <p>{{ tot_contratos }}</p>
                </div>

                <div class="presentation-box">
                    <h2>Empenhos</h2>
                    <p>{{ tot_empenhos }}</p>
                </div>
            
            </div>
          
        </div>

        <!-- Central de Notificações -->
        <!-- <div class="presentation-container">
            <div class="title-row">
                <i class="fas fa-bell"></i>&nbsp;Central de Notificações
            </div>

            
            <div class="area-cards-alertas" id="area_cards">
                
                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-1" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-2" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                CONTRATO
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-3" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                DISTRIBUIÇÃO
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-1" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                PROGRAMAÇÃO
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-2" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-3" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-1" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-2" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area-card">
                    <div class="card-alerta ">
                        <div class="faixa-alerta nivel-3" >
                            <div class="simbolo-alerta">
                                <i class="fas fa-exclamation-triangle">
                                    <span style="font-size: 14px; font-weight: bold; font-family:system-ui;">CGCEAF</span>
                                </i>
                            </div>
                        </div>
                        
                        <div class="caixa-texto-alerta">
                            <div class="titulo-alerta">
                                ARP
                            </div>
                            <div class="alerta-texto">
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                                A ARP 1234/2023 (ID: 45) está com prazo de vigência para encerrar em 27 dias.
                            </div>
                        </div>
                    </div>
                </div>

                
                

            </div>
            
          
        </div> -->
        
        <!-- Informes -->
        <div class="presentation-container">
            <div class="title-row">
                <i class="fa-regular fa-bell"></i>&nbsp;Informes DAF
            </div>

            <div class="boxes-row" style="gap: 10px !important">
                
                {% for informe in tab_informes %}

                    <div class="box-informe" >

                        <div class="imagem-card" 
                            
                            
                            data-id="{{ informe.id }}"
                            data-data-registro="{{ informe.registro_data|date:'d/m/Y H:i:s' }}"
                            data-responsavel-registro="{{ informe.usuario_registro }}"
                            data-ultima-atualizacao="{{ informe.ultima_atualizacao|date:'d/m/Y H:i:s' }}"
                            data-responsavel-ultima-atualizacao="{{ informe.usuario_atualizacao }}"
                            data-n-edicoes="{{ informe.log_n_edicoes }}"

                            data-titulo="{{ informe.titulo }}"
                            data-descricao="{{ informe.descricao }}"
                            data-link="{{ informe.link_mais_informacoes }}"

                        >
                            <img src="{% static informe.endereco_imagem %}" alt="Imagem do Card">
                        </div>

                        <div class="conteudo-informe">
                            <div class="titulo-informe">
                                {{ informe.titulo }}
                            </div>
                            <div class="titulo-data">
                                Data do Informe: {{ informe.registro_data|date:'d/m/Y' }} | Responsável: {{ informe.usuario_atualizacao.primeiro_ultimo_nome }}
                            </div>
                            <div class="titulo-resumo">
                                {{ informe.resumo }}
                            </div>
                        </div>
                        
                    </div>

                {% endfor %}
            </div>
            
          
        </div>

        <div style="margin-top: 30px;">
            &nbsp;
        </div>
    
    </div>

    <script src="{% static 'js/home.js' %}"></script>

    <!-- Modais -->
    {% include "main/informe_modal.html" %}

{% endblock %}
