<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-empenho-item {
        min-width: 75%; 
        font-size: 16px !important;
    }

    .horizontal-sections-modal-parcela {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
        width: 100%;
        height: 75px;
    }

    .modal-content{
        height: auto;
        min-height: 400px;
    }

    .modal-body{
        height: auto;
    }


</style>

<!-- Modal -->
<div class="modal fade" id="informeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-empenho-item" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-bell"></i>&nbsp;Informe SisDAF</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id="itemEmpenhoForm">
                    {% csrf_token %}
                    
                    <!-- Log -->
                    <div class="horizontal-sections-modal" >
                        <div class="section" style="border: 0px !important;">
                            
                            <h3>Logs</h3>
                            <div class="grid" style="font-size: 10px;">
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="informe_id" style="width: 100px;"  readonly>
                                    <label for="informe_id">ID</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="informe_log_data_registro" readonly>
                                    <label for="informe_log_data_registro">Data do Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="informe_log_responsavel_registro" readonly>
                                    <label for="informe_log_responsavel_registro">Responsável pelo Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="informe_log_ult_atualizacao" readonly>
                                    <label for="informe_log_ult_atualizacao">Última Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="informe_log_responsavel_atualizacao" readonly>
                                    <label for="informe_log_responsavel_atualizacao">Responsável Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_edicoes" id="informe_log_edicoes" readonly>
                                    <label for="informe_log_edicoes">Nº Edições</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Dados do Informe -->
                    <div class="horizontal-sections-modal" >
                        <div class="section full-width" style="border: 0px !important; ">
                            
                            <h3>Dados do Informe</h3>
                            <div class="grid" style="font-size: 10px; gap: 0px !important">
                                
                                <div class="form-floating mb-3 full-width" style="font-size: 12px; width: 100%;">
                                    <input type="text" class="form-control" id="informe_titutlo"  value='Teste' readonly>
                                    <label for="informe_titutlo">Título</label>
                                </div>

                                <div class="form-floating mb-3 full-width" style="font-size: 12px; width: 100%;">
                                    <textarea class="form-control" id="informe_descricao" style="height: 200px;" readonly>Teste</textarea>
                                    <label for="informe_descricao">Descrição</label>
                                </div>
                                

                                <div class="form-floating mb-3 full-width" style="font-size: 12px; width: 100%;">
                                    <input type="text" class="form-control" id="informe_link"  value='Teste' readonly>
                                    <label for="informe_link">Mais informações</label>
                                </div>
                                
                            </div>

                        </div>
                    </div>

                                        
    
                </form>
            </div>

        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#empenhoItemModal').modal('hide');
        });
    });
</script>