{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SisDAF</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/favicon/sisdaf.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="image-section">
            <img src="{% static 'assets/imagens/ms.png' %}" alt="Imagem do SisDAF">
        </div>
        <div class="login-section">
            <img src="{% static 'assets/logo/logo_sisdaf.png' %}" alt="Logo SisDAF">
            <h1>SisDAF</h1>
            <div class="form-wrapper">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                            {{ field }}
                            {% if field.label == "CPF" %}
                            <label id="cpf-error" class="error-label">CPF Inválido!</label>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <a class="forgot-password" href="#">Esqueci a senha</a>
                    </div>
                    <button type="submit">Entrar</button>
                    <div class="additional-links">
                        <a href="{% url 'cadastro' %}">Cadastrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% if messages %}
        {% for message in messages %}
        alert("{{ message }}");
        {% endfor %}
    {% endif %}

    <script src="{% static 'js/valida_cpf.js' %}"></script>
</body>
</html>