<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-tramitacao {
        min-width: 80%;  /* ou qualquer largura que você desejar */
        font-size: 16px !important;
    }

    .horizontal-sections-modal-tramitacao {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  /* Alinha os itens ao topo */
        width: 100%;
        height: auto;
        margin-bottom: -25px;
    }

    .modal-content.tramitacao{
        height: auto;
    }

    .modal-body.tramitacao{
        height: auto;
    }

</style>

<!-- Modal -->
<div class="modal fade" id="tramitacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-tramitacao" role="document">
        <div class="modal-content tramitacao">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tramitação</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body tramitacao">
                
                <!-- Formulário -->
                <form id="proaqTramitacaoForm" method="POST">
                {% csrf_token %}             
                    <!-- Log -->
                    <div class="horizontal-sections-modal-tramitacao">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 10px;">
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="id_tramitacao" readonly>
                                    <label for="floatingInput">ID</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="tramitacao_log_data_registro" readonly>
                                    <label for="floatingInput">Data do Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="tramitacao_log_responsavel_registro" readonly>
                                    <label for="floatingInput">Responsável pelo Registro</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_data" id="tramitacao_log_ult_atualizacao" readonly>
                                    <label for="floatingInput">Última Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_responsavel" id="tramitacao_log_responsavel_atualizacao" readonly>
                                    <label for="floatingInput">Responsável Atualização</label>
                                </div>
                                <div class="form-floating mb-3" style="font-size: 12px;">
                                    <input type="text" class="form-control log_edicoes" id="tramitacao_log_edicoes" name="log_edicoes" readonly>
                                    <label for="floatingInput">Nº Edições</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dados da Tramitação -->
                    <div class="horizontal-sections-modal-tramitacao">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3">
                                    {{ form_tramitacao_proaq.documento_sei }}
                                    <label>{{ form_tramitacao_proaq.documento_sei.label }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form_tramitacao_proaq.setor }}
                                    <label>{{ form_tramitacao_proaq.setor.label }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form_tramitacao_proaq.etapa_processo }}
                                    <label>{{ form_tramitacao_proaq.etapa_processo.label }}</label>
                                </div>
                                <div class="form-floating mb-3" style="display: flex; align-items: center; margin-left: 10px;">
                                    <input type="checkbox" id="id_tramitacao_outra_etapa_checkbox" class="form-checkbox" style="width: 20px; height: 20px;">
                                </div>
                                <div class="form-floating mb-3 full-width">
                                    {{ form_tramitacao_proaq.etapa_processo_outro }}
                                    <label>{{ form_tramitacao_proaq.etapa_processo_outro.label }}</label>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Datas -->
                    <div class="horizontal-sections-modal-tramitacao">
                        <div class="section" style="border: 0px !important;">
                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="id_tramitacao_data_entrada" name="data_entrada">
                                    <label for="data">Data Entrada</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="id_tramitacao_data_previsao" name="previsao_saida" value="{% if form.data.value %}{{ form.data.value|date:'Y-m-d' }}{% endif %}">
                                    <label for="data">Previsão Saída</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="id_tramitacao_data_saida" name="data_saida" value="{% if form.data.value %}{{ form.data.value|date:'Y-m-d' }}{% endif %}">
                                    <label for="data">Data Saída</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="id_tramitacao_dias_setor" name="tramitacao_dias_setor" readonly value="{{ form.instance.id|default_if_none:'' }}" style="width: 150px">
                                    <label for="floatingInput">Dias no setor</label>
                                </div>         
                            </div>
                        </div>
                    </div>

                    <!-- Observações -->
                    <div class="horizontal-sections-modal-tramitacao">
                        <div class="section" style="border: 0px !important; height: 100%;">
                            <div class="grid" style="font-size: 14px;">
                                <div class="form-floating mb-3 full-width">
                                    <textarea class="form-control auto-expand" id="tramitacao_observacoes" name="observacoes" rows="1" style="height: 100%;">{{ form.instance.observacoes_gerais|default_if_none:'' }}</textarea>
                                    <label  for="observacoes">Observações</label><br>    
                                </div>
                            </div>
                        </div>

                        <!-- Campos ocultos -->
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3">
                                <input type="hidden" id="id_proaq_hidden" name="proaq_hidden" readonly>
                                <input type="hidden" id="ultima_data_tramitacao" readonly>
                            </div>
                        </div>
                    </div>

                    
                </form>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnDeletarTramitacao" style="background-color: rgb(255, 0, 0); border-color: rgb(255, 0, 0);">Deletar</button>
                <button type="button" class="btn btn-secondary closeModalButton" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnSalvarTramitacao" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
           
            
            
        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#tramitacaoModal').modal('hide');
        });
    });
</script>
