{% extends 'main/base_main.html' %}
{% load static %}
{% load proaq_custom_filters %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/proaq_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-folder-tree"></i>&nbsp;Processos Aquisitivos / Ficha do Processo Aquisitivo
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'proaq' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button" id="proaq_ficha_dados_gerais">Dados Gerais</button>
            <button class="tab-button active" id="proaq_ficha_evolucao">Evolução Processual</button>
            <button class="tab-button" id="proaq_ficha_tramitacoes">Tramitações</button>
        </div>
    </div>

    <div class="area-scroll">
        <!-- form denominacoes_genericas -->
        <form id="evolucaoForm" method="POST" data-post-url="{% url 'proaq_evolucao_salvar' %}"></form>
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit" id="btnSaveProaqEvolucao" style="font-size: 12px;">
                    <i class="fas fa-save me-1"></i> 
                    Salvar
                </button>
            </div>

            <div class="horizontal-sections">
                <div class="section-log">
                    <h3>Log</h3>
                    <div class="grid-log">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="id_proaq" name="id_proaq" readonly value="{{ proaq_id|default:'' }}">
                            <label for="floatingInput">ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ dados_fase1.registro_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Data do Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ dados_fase1.usuario_registro.dp_nome_completo }}">
                            <label for="floatingInput">Responsável pelo Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ dados_fase1.ult_atual_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Última Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ dados_fase1.usuario_atualizacao.dp_nome_completo }}">
                            <label for="floatingInput">Responsável Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" style="width: 100px;" id="log_edicoes" name="log_edicoes" readonly value="{{ dados_fase1.log_n_edicoes }}">
                            <label for="floatingInput">Nº Edições</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="horizontal-sections">
                <div class="section">
                    <p></p>
                    {% for fase in fases %}
                        <div class="fase-title">Fase {{ forloop.counter }} - {{ fase.nome }}</div>
                        <div class="grid" id='fase{{ forloop.counter }}'>
                            <div class="form-floating">

                                {% with dados_fase=dados_fases|get_item:forloop.counter0 %}

                                    <select class="form-select" id="f{{ forloop.counter }}_status" name="f{{ forloop.counter }}_status">
                                        <option value="" disabled {% if not dados_fase.status %}selected{% endif %}>Não Executado</option>
                                        {% for value, display in status_fase %}
                                            <option value="{{ value }}" {% if dados_fase.status == value %}selected{% endif %}>{{ display }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="f{{ forloop.counter }}_status">Status</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="f{{ forloop.counter }}_data_inicio" name="f{{ forloop.counter }}_data_inicio" value="{% if dados_fase.data_inicio %}{{ dados_fase.data_inicio|date:'Y-m-d' }}{% endif %}">
                                    <label for="f{{ forloop.counter }}_data_inicio">Data Início</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="f{{ forloop.counter }}_data_fim" name="f{{ forloop.counter }}_data_fim" value="{% if dados_fase.data_fim %}{{ dados_fase.data_fim|date:'Y-m-d' }}{% endif %}">
                                    <label for="f{{ forloop.counter }}_data_fim">Data Fim</label>
                                </div>   
                                <div class="form-floating mb-3 full-width">
                                    <input type="text" class="form-control" id="f{{ forloop.counter }}_comentario" name="f{{ forloop.counter }}_comentario" value="{{ dados_fase.comentario|default_if_none:'' }}">
                                    <label for="f{{ forloop.counter }}_comentario">Comentário</label>
                                </div>  
                                {% endwith %}
                        </div>
                    {% endfor %}


                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/proaqs_evolucao.js' %}"></script>
    <script src="{% static 'js/processos_aquisitivos.js' %}"></script>
    
    

{% endblock %}