{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="manifest" href="{% static 'mobile/manifest.json' %}">
    <!-- CSS do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Folhas de estilos intenros -->
    <link rel="stylesheet" href="{% static 'mobile/styles/aba_home.css' %}">
</head>
<body>

    <div class="header-app">
        SisDAF
    </div>

    <div class="body-app">
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        teste teste
        
    </div>

    <div class="navbar-app">
        
    </div>

</body>
</html>
