{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/fornecedores_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-warehouse"></i>&nbsp;Fornecedores / FAQ / Ficha do FAQ
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'fornecedores_faq' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button active" id="fornecedor_ficha_dados_gerais">Dados Gerais</button>
        </div>
    </div>

    <div class="area-scroll">
        <!-- form denominacoes_genericas -->
            <form id="fornecedorFaqForm" method="POST" data-post-url="{% if form.instance.id %}{% url 'fornecedor_faq_ficha' form.instance.id %}{% else %}{% url 'fornecedor_faq_novo' %}{% endif %}">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#fornecedor_faq_delete" style="font-size: 12px; background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">
                    <i class="fas fa-trash-alt"></i>
                    Deletar
                </button>
                
                <button class="btn btn-primary me-md-2" type="submit" id="btnSaveFaq" style="font-size: 12px;">
                    <i class="fas fa-save me-1"></i> 
                    Salvar
                </button>
            </div>
            
            <div class="horizontal-sections">
                
                <!-- Log -->
                <div class="section-log">
                    <h3>Log</h3>
                    <div class="grid-log">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" id="id_fornecedor_faq" name="id_fornecedor_faq" readonly value="{{ form.instance.id|default_if_none:'' }}">
                            <label for="floatingInput">ID</label>
                        </div>                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ fornecedor_faq.registro_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Data do Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ fornecedor_faq.usuario_registro.dp_nome_completo }}">
                            <label for="floatingInput">Responsável pelo Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ fornecedor_faq.ult_atual_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Última Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ fornecedor_faq.usuario_atualizacao.dp_nome_completo }}">
                            <label for="floatingInput">Responsável Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" style="width: 100px;" id="log_edicoes" name="log_edicoes" readonly value="{{ fornecedor_faq.log_n_edicoes }}">
                            <label for="floatingInput">Nº Edições</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="horizontal-sections">
                
                <!-- Dados do FAQ -->
                <div class="section">
                    <h3>Dados do FAQ</h3>
                    
                    <!-- Tópico -->
                    <div class="grid" style="font-size: 14px;">
                        
                        <!-- Tópico -->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="topico" aria-label="Floating label select example" name="topico">
                                <option value="" disabled {% if not form.instance.topico %}selected{% endif %}>Não informado</option>
                                {% for value, display in lista_topico %}
                                <option value="{{ value }}" {% if form.instance.topico == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="topico">Tópico/Assunto</label>
                        </div>
                        
                        <!-- Outro Tópico -->
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="topico_outro" name="topico_outro" {% if form.instance.topico_outro %}value="{{ form.instance.topico_outro }}"{% else %}readonly{% endif %}>
                            <label for="floatingInput">Outro Tópico/Assunto</label>
                        </div>
                        
                    </div>
                    
                    <!-- Contexto -->
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3 full-width">
                            <textarea class="form-control auto-expand" id="contexto" name="contexto" rows="1" style="padding-top: 27px; height: 120px;">{{ form.instance.contexto|default_if_none:'' }}</textarea>
                            <label for="form-floating">Contexto/Pergunta/Situação</label>
                        </div> 
                    </div>

                    <!-- Resposta -->
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3 full-width">
                            <textarea class="form-control auto-expand" id="resposta" name="resposta" rows="1" style="padding-top: 27px; height: 120px;">{{ form.instance.resposta|default_if_none:'' }}</textarea>
                            <label for="form-floating">Resposta/Encaminhamento</label>
                        </div> 
                    </div>
                        
                </div>

            </div>
            
            <div class="section">
                <h3>Observações Gerais</h3>
                <div class="grid" style="font-size: 14px;">
                    <div class="form-floating mb-3 full-width">
                        <textarea class="form-control auto-expand" id="observacoes_gerais" name="observacoes_gerais" rows="1" style="padding-top: 10px; height: 120px;">{{ form.instance.observacoes_gerais|default_if_none:'Sem observações.' }}</textarea>
                    </div> 
                </div>
            </div>
        </form>
    </div>
    
    <script src="{% static 'js/fornecedores_faq.js' %}"></script>

    <!-- Modais -->
    {% include "fornecedores/fornecedores_faq_delete.html" %}

{% endblock %}