body, html {
    height: 100%;
    margin: 0;
}
.bg {
    height: 100%; 
    /* Centraliza e cobre a tela toda */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-sisdaf {
    position: absolute;
    left: 80%;
    top: 5%;
}

.logo-sisdaf img {
    width: 70%;
    align-items: center;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 255, 255, 0.5); /* Fundo levemente transparente */
    border-radius: 10px;
    width: 60%;
}

.botao-entrar {
    align-items: center;
}