.card-produtodaf {
    background-color: #c2f0ef81;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.card-produtodaf-nome {
    font-size: 2vh;
    font-weight: bold;
}

.card-produtodaf-forma {
    font-size: 1.6vh;
}