{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/consultor_contrato_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-file-contract"></i>&nbsp;Consultores Técnicos / Ficha do Contrato / Produtos
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'consultores_tecnicos' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button" id="consultor_contrato_dados_gerais">Dados Gerais</button>
            <button class="tab-button active" id="consultor_contrato_produtos">Produtos</button>
        </div>
    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit" id="btnNovaTramitacao" style="font-size: 12px; background-color: green; border-color: green;">
            <i class="fas fa-plus" style="font-size: 14px;"></i> 
            &nbsp;Nova Tramitação
        </button>
    </div>


    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 12px !important;" id="tabTramitacoes">
            <thead>
                <tr style="font-size: 10px !important;">
                    <th class="tramitacao-id">ID</th>
                    <th class="tramitacao-docsei">Documento SEI</th>
                    <th class="tramitacao-setor">Setor</th>
                    <th class="tramitacao-etapa">Etapa</th>
                    <th class="tramitacao-data">Entrada</th>
                    <th class="tramitacao-data">Previsão</th>
                    <th class="tramitacao-data">Saída</th>
                    <th class="tramitacao-data">Dias</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_tramitacoes %}
                <tr data-id="{{ item.id }}" data-proaq-id="{{ item.proaq.id }}">
                    <td class="tramitacao-id">{{ item.id }}</td>
                    <td class="tramitacao-docsei">{{ item.documento_sei }}</td>
                    <td class="tramitacao-setor">{{ item.setor }}</td>
                    <td class="tramitacao-etapa">{{ item.etapa_processo }}</td>
                    <td class="tramitacao-data">{{ item.data_entrada|date:"d/m/Y" }}{% if not item.data_entrada %}NI{% endif %}</td>
                    <td class="tramitacao-data">{{ item.previsao_saida|date:"d/m/Y" }}{% if not item.previsao_saida %}NI{% endif %}</td>
                    <td class="tramitacao-data">{{ item.data_saida|date:"d/m/Y" }}{% if not item.data_saida %}NI{% endif %}</td>
                    <td class="tramitacao-data">{{ item.duracao|default:"-" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
    
    <script src="{% static 'js/consultores_contratos.js' %}"></script>

    <!-- Modais -->
    

{% endblock %}