{% extends 'main/base_main.html' %}
{% load static %}
{% load contratos_filters %}
{% block extra_head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static '\styles\_pagina_inicial_modulo.css' %}">
    <link rel="stylesheet" href="{% static '\styles\contratos.css' %}">
    <link rel="stylesheet" href="{% static '\styles\_tabelas.css' %}">
    <link rel="stylesheet" href="{% static '\styles\_aderecos.css' %}">
    
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-hospital-user"></i>&nbsp;Controle Especial / Gestão de Pacientes
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button active" id="aba_gestao_pacientes">Gestão de Pacientes</button>
            <button class="tab-button" id="aba_atendimento_judicial">Atendimento Judicial</button>
        </div>
    </div>
    
    <!-- cabeçalho -->
    <div class="horizontal-sections" >
        
        <!-- Total -->
        <div class="section numbers" style="width: 200px;">
            <div class="filter-title">
                Total de Pacientes
            </div>
            <div id="numeroPacientes" class="total-geral">{{ tab_pacientes.count }}</div>
        </div>
        
        <!-- Filtros -->
        <div class="section filter">
            <div class="filter-title">Filtros
                Filtros
            </div>
            
            <!-- Óbito -->
            <div class="form-floating" style="width: 150px !important;">
                <select class="form-select" id="filtro_paciente_obito">
                    <option value=""></option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
                <label for="filtro_paciente_obito">Óbito</label>
            </div>

            <!-- CNS -->
            <div class="form-floating" style="width: 300px !important;">
                <input class="form-control" id="filtro_paciente_cns"></input>
                <label for="filtro_paciente_cns">CNS</label>
            </div>

            <!-- Nome do Paciente -->
            <div class="form-floating" style="width: 350px !important;">
                <input class="form-control" id="filtro_paciente_nome"></input>
                <label for="filtro_paciente_nome">Nome do Paciente</label>
            </div>

            <!-- Sexo -->
            <div class="form-floating" style="width: 280px !important;">
                <select class="form-select" id="filtro_paciente_sexo">
                    <option value=""></option>
                    {% for value, display in lista_sexo %}
                    <option value="{{ value }}">{{ display }}</option>
                    {% endfor %}
                </select>
                <label for="filtro_paciente_sexo">Sexo</label>
            </div>

            <!-- Produtos Recebidos -->
            <div class="form-floating full-width">
                <select class="form-select" id="filtro_produtos_recebidos">
                    <option value=""></option>
                    {% for id, name in lista_produtos %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <label for="filtro_produtos_recebidos">Produtos Recebidos</label>
            </div>

            <!-- Vias de Atendimento -->
            <div class="form-floating" style="width: 300px !important;">
                <select class="form-select" id="filtro_vias_atendimento">
                    <option value=""></option>
                    {% for id, name in lista_via_atendimento %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <label for="filtro_vias_atendimento">Via Atendimento</label>
            </div>

            <!-- SES/UFs -->
            <div class="form-floating" style="width: 150px !important;">
                <select class="form-select" id="filtro_paciente_ses">
                    {% for id, name in lista_ses %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <label for="filtro_paciente_ses">SES/UF</label>
            </div>

            <!-- Limpar Filtros -->
            <button class="custom-btn limpar-filtro" id="limpar_filtros">
                <i class="fa fa-times" style="font-size: 1.5vw" title="Limpar filtros"></i>
                <span style="font-size: 10px;">Limpar Filtros</span>
            </button>

        </div>

        <!-- Funcionalidades -->
        <div class="section funcionalidades">
            <div style="font-size: 12px; font-weight: bold;">
                Funcionalidades
            </div>
            <div class="btn-container">
                
                <!-- Inserir -->
                <button class="custom-btn" id="btnInserirPaciente">
                    <div class="icon-container">
                        <i class="fa fa-plus-circle" style="font-size: 1.5vw"></i>
                        <span>Inserir</span>
                    </div>
                </button>

                <!-- Exportar -->
                <button class="custom-btn" id="exportarPacientes">
                    <div class="icon-container">
                        <i class="fa fa-download" style="font-size: 1.5vw"></i>
                        <span>Exportar</span>
                    </div>                    
                </button>
                
            </div>   
        </div>
        
    </div>

    <!-- tabela -->
    <div class="section-tabela">
    <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabPacientes">
        <thead style="vertical-align: middle;">
            <tr>
                <th class="col-id">ID</th>
                <th class="col-texto4">Óbito</th>
                <th class="col-texto8">CNS</th>
                <th class="col-texto6">CPF</th>
                <th class="col-texto15">Nome</th>
                <th class="col-texto6">Sexo</th>
                <th class="col-texto4">Idade</th>
                <th class="col-texto20">Produtos Recebidos</th>
                <th class="col-texto6">Via Atend.</th>
                <th class="col-texto6">SES/UF</th>
            </tr>
        </thead>
        <tbody style="vertical-align: middle;">
            {% for item in tab_pacientes %}
            <tr data-id="{{ item.id }}">
                <td class="col-id">{{ item.id }}</td>
                <td class="col-texto4">{{ item.paciente_obito }}</td>
                <td class="col-texto6">{{ item.cns }}</td>
                <td class="col-texto6">{{ item.cpf }}</td>
                <td class="col-texto20">{{ item.nome }}</td>
                <td class="col-texto6">{{ item.get_sexo_display }}</td>
                <td class="col-texto4">{{ item.paciente_idade|default:'-' }}</td>
                <td class="col-texto15">{{ item.paciente_produtos_recebidos }}</td>
                <td class="col-texto6">{{ item.paciente_via_atendimento }}</td>
                <td class="col-texto6">{{ item.paciente_ses_ufs }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
    </div>

    <!-- paginação -->
    <div id="pagination">
        <button id="previousPage" class="page" disabled>Anterior </button>
        <span id="currentPage">1</span>
        <button id="nextPage" class="page">Próximo</button>
    </div>
    
    <!-- Scritps -->
    <script src="{% static 'js/gestao_pacientes.js' %}"></script>
    

{% endblock %}