{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/denominacoes_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-pills"></i>Produtos DAF / Denominações Genérica / Ficha da Denominação Genérica
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'denominacoes' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button active" id="tabMeusDados">Dados Gerais</button>
        </div>
    </div>

    <!-- form denominacoes_genericas -->
    <form id="denominacaoForm" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#denominacoes_delete" style="font-size: 12px; background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">
                <i class="fas fa-trash-alt"></i>
                Deletar
            </button>
            
            <button class="btn btn-primary me-md-2" type="submit" id="btnSaveDenominacao" style="font-size: 12px;">
                <i class="fas fa-save me-1"></i> 
                Salvar
            </button>
        </div>
        
        <div class="horizontal-sections">
            <div class="section-log">
                <h3>Log</h3>
                <div class="grid-log">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                        <label for="floatingInput">Data do Registro</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                        <label for="floatingInput">Responsável pelo Registro</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                        <label for="floatingInput">Última Atualização</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                        <label for="floatingInput">Responsável Atualização</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control log_edicoes" id="log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                        <label for="floatingInput">Nº Edições</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="horizontal-sections">
            <div class="section">
                <h3>Dados da Denominação Genérica</h3>
                <div class="grid" style="font-size: 14px;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="id" name="id" readonly value="{{ form.instance.id|default_if_none:'' }}">
                        <label for="floatingInput">ID</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="tipo_produto">
                            <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                            {% for value, display in TIPO_PRODUTO %}
                            <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Tipo de Produto</label>
                    </div>
                    <div class="form-floating mb-3 full-width">
                        <input type="text" class="form-control" id="denominacao" name="denominacao" value="{{ form.instance.denominacao|default_if_none:'' }}">
                        <label for="floatingInput">Denominação Genérica</label>
                    </div>
                    <div class="unidades-ficha">
                        <span>Unidades DAF</span></br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_basico" name="unidade_basico" {% if form.instance.unidade_basico %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_basico">Básico</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_especializado" name="unidade_especializado" {% if form.instance.unidade_especializado %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_especializado">Especializado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_estrategico" name="unidade_estrategico" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_estrategico">Estratégico</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_farm_popular" name="unidade_farm_popular" {% if form.instance.unidade_farm_popular %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_farm_popular">Farmácia Popular</label>
                        </div>                                    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="hospitalar" name="hospitalar" {% if form.instance.hospitalar %}checked{% endif %}>
                            <label class="form-check-label" for="hospitalar">Hospitalar</label>
                        </div>       
                    </div>                    
                </div>
            </div>
        </div>
    </form>


    <script src="{% static 'js/denominacoes_genericas.js' %}"></script>

{% endblock %}