{% extends 'main/base_main.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/produtos_cmm.css' %}">
    
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-pills"></i>Produtos DAF / Produtos Farmacêuticos / Ficha do Produto / Consumo Médio Mensal
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'produtos' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button" id="tabMeusDados">Dados Gerais</button>
            <button class="tab-button active" id="tabConsumoMedio">Consumo Médio</button>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit" id="btnExportarAcessos" style="font-size: 12px; background-color: green; border-color: green;">
            <i class="fas fa-download" style="font-size: 14px;"></i> 
            &nbsp;Exportar CMM
        </button>
    </div>

    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px; text-align: center; vertical-align: middle;" id="tabConsumoMedioid">
            <thead>
                <tr style="vertical-align: middle;">
                    <th class="cmm-id">ID</th>
                    <th class="cmm-tipo">Tipo</th>
                    <th class="cmm-produto">Produto</th>
                    <th class="cmm-data">Data Ref.</th>
                    <th class="cmm-data">Período Ref.</th>
                    <th class="cmm-valor">Estoque SES</th>
                    <th class="cmm-valor">Aprovado Admin.</th>
                    <th class="cmm-valor">Aprovado Jud.</th>
                    <th class="cmm-valor">Aprovado Total</th>
                    <th class="cmm-valor">CMM Admin</th>
                    <th class="cmm-valor">CMM Jud.</th>
                    <th class="cmm-valor">CMM Total</th>
                    <th class="cmm-observacoes">Observações</th>
                    <th class="cmm-responsavel">Responsável</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_cmm %}
                <tr data-id="{{ item.id }}">
                    <td class="cmm-id">{{ item.id }}</td>
                    <td class="cmm-tipo">{{ item.tipo_cmm }}</td>
                    <td class="cmm-produto">{{ item.produto.id }}</td>
                    <td class="cmm-data">{{ item.data_referencia|date:"d/m/Y" }}</td>
                    <td class="cmm-data">{{ item.periodo_referencia }}</td>
                    <td class="cmm-valor" style="text-align: right !important;">{{ item.estoque_ses|floatformat:"0"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important; ">{{ item.aprovado_administrativo|floatformat:"0"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important; ">{{ item.aprovado_judicial|floatformat:"0"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important; ">{{ item.aprovado_total|floatformat:"0"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important;">{{ item.cmm_administrativo|floatformat:"1"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important;">{{ item.cmm_judicial|floatformat:"1"|intcomma }}</td>
                    <td class="cmm-valor" style="text-align: right !important;">{{ item.cmm_total|floatformat:"1"|intcomma }}</td>
                    <td class="cmm-observacoes">{{ item.observacoes }}</td>
                    <td class="cmm-responsavel">{{ item.responsavel_dados }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>

    <script src="{% static 'js/produtos.js' %}"></script>
{% endblock %}