{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/produtos_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-pills"></i>Produtos DAF / Produtos Farmacêuticos / Ficha do Produto
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'produtos' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button active" id="tabMeusDados">Dados Gerais</button>
        </div>
    </div>

    <div class="area-scroll">
        <!-- form denominacoes_genericas -->
        <form id="denominacaoForm" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" style="font-size: 12px; background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">
                    <i class="fas fa-trash-alt"></i>
                    Deletar
                </button>
                <button class="btn btn-primary me-md-2" type="submit" id="btnPrint" style="font-size: 12px; margin-left: 10px; margin-right: 10px; background-color: rgb(4, 124, 0);border-color: rgb(4, 124, 0);">
                    <i class="fas fa-print me-1"></i>
                    Imprimir
                </button>
                <button class="btn btn-primary me-md-2" type="submit" id="btnSave" style="font-size: 12px;">
                    <i class="fas fa-save me-1"></i>
                    Salvar
                </button>
            </div>
        
        
            <div class="horizontal-sections">
                <div class="section-log">
                    <h3>Log</h3>
                    <div class="grid-log">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Data do Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                            <label for="floatingInput">Responsável pelo Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Última Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                            <label for="floatingInput">Responsável Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" id="log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                            <label for="floatingInput">Nº Edições</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Caracterização do Produto -->
            <div class="horizontal-sections">
                <div class="section">
                    <h3>Dados do Produto Farmacêutico</h3>
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="id" name="id" readonly value="{{ form.instance.id|default_if_none:'' }}">
                            <label for="floatingInput">ID</label>
                        </div>
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="produto_farmaceutico" name="produto_farmaceutico" readonly value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Produto Farmacêutico</label>
                        </div>                  
                    </div>
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="tipo_produto" name="tipo_produto" readonly value="{{ form.instance.id|default_if_none:'' }}">
                            <label for="floatingInput">Tipo de Produto</label>
                        </div>
                        
                        
                        <div class="form-floating">
                            <select class="form-select" id="denominacao" aria-label="Floating label select example" name="denominacao">
                                <option value="" disabled {% if not form.instance.denominacao %}selected{% endif %}>Selecione uma denominação</option>
                                {% for id, denominacao in denominacoes_genericas %}
                                <option value="{{ id }}" {% if form.instance.denominacao_id == id %}selected{% endif %}>{{ denominacao }}</option>
                                {% endfor %}
                            </select>
                            <label for="denominacao">Denominação Genérica</label>
                        </div>    
                        <div class="form-floating">
                            <select class="form-select" id="concetracao_tipo" aria-label="Floating label select example" name="concetracao_tipo">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                                {% for value, display in CONCENTRACAO_TIPO %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Concentração</label>
                        </div>
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="concentracao" name="concentracao" readonly value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Concentração/Composição</label>
                        </div>                    
                    </div>
                    
                    
                    <div class="grid" style="font-size: 14px;">
                        
                        <div class="form-floating">
                            <select class="form-select" id="forma_farmaceutica" aria-label="Floating label select example" name="forma_farmaceutica">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                                {% for value, display in FORMA_FARMACEUTICA %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="forma_farmaceutica">Forma Farmacêutica</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="oncologico" aria-label="Floating label select example" name="oncologico">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não</option>
                                {% for value, display in YES_NO %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="oncologico">Oncológico</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="biologico" aria-label="Floating label select example" name="biologico">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não</option>
                                {% for value, display in YES_NO %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="biologico">Biológico</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="classificacao_aware" aria-label="Floating label select example" name="classificacao_aware">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                                {% for value, display in CLASSIFICACAO_AWARE %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="classificacao_aware">AWaRe</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="atc_codigo" aria-label="Floating label select example" name="atc_codigo">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                                {% for value, display in CODIGO_ATC %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="forma_farmaceutica">Código ATC</label>
                        </div>
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="denominacao" name="denominacao" readonly value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">ATC</label>
                        </div>  
                        
                        
                    </div>
                </div>
            </div>

            <!-- Status de Incorporação no SUS -->
            <div class="horizontal-sections">
                <div class="section">
                    <h3>Incorporação no SUS</h3>
                    <div class="grid" style="font-size: 14px;">
                        
                        <div class="form-floating">
                            <select class="form-select" id="status_incorporacao" aria-label="Floating label select example" name="status_incorporacao">
                                <option value="" disabled {% if not form.instance.tipo_produto %}selected{% endif %}>Não Informado</option>
                                {% for value, display in TIPO_PRODUTO %}
                                <option value="{{ value }}" {% if form.instance.tipo_produto == value %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                            <label for="status_incorporacao">Status</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_incorporacao" name="data_incorporacao" value="{% if form.dp_data_nascimento.value %}{{ form.dp_data_nascimento.value|date:'Y-m-d' }}{% endif %}">
                            <label for="floatingInput">Data Incorporação</label>
                        </div> 

                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="portaria_incorporacao" name="portaria_incorporacao" value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Portaria de Incorporação</label>
                        </div>  
                        
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="portaria_incorporacao_link" name="portaria_incorporacao_link" value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Link Portaria Incorporação</label>
                        </div> 
                    </div>
                    
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_incorporacao" name="data_exclusao" value="{% if form.dp_data_nascimento.value %}{{ form.dp_data_nascimento.value|date:'Y-m-d' }}{% endif %}">
                            <label for="floatingInput">Data de Exclusão</label>
                        </div>

                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="portaria_exclusao" name="portaria_exclusao" value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Portaria de Incorporação</label>
                        </div>  

                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="portaria_exclusao_link" name="portaria_exclusao_link" value="{{ form.instance.denominacao|default_if_none:'' }}">
                            <label for="floatingInput">Link Portaria Exclusão</label>
                        </div> 
                    </div>  
                </div>
            </div>

            <div class="section">
                <h3>Pactuação na Política de Assistência Farmacêutica</h3>
                <div class="grid" style="flex-grow: 1; font-size: 14px !important;">
                    <div class="unidades-ficha">
                        <span style="font-size: 12px;">Componente da Assistência Farmacêutica</span></br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_basico" name="unidade_basico" {% if form.instance.unidade_basico %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_basico">Básico</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_especializado" name="unidade_especializado" {% if form.instance.unidade_especializado %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_especializado">Especializado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_estrategico" name="unidade_estrategico" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_estrategico">Estratégico</label>
                        </div>
                    </div>
                    <div class="unidades-ficha">
                        <span style="font-size: 12px;">Disponível</span></br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="unidade_farm_popular" name="unidade_farm_popular" {% if form.instance.unidade_farm_popular %}checked{% endif %}>
                            <label class="form-check-label" for="unidade_farm_popular">Farmácia Popular</label>
                        </div>                                    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="hospitalar" name="hospitalar" {% if form.instance.hospitalar %}checked{% endif %}>
                            <label class="form-check-label" for="hospitalar">Hospitalar</label>
                        </div>       
                    </div>  
                </div>
                <div class="grid" style="flex-grow: 1; font-size: 14px !important;">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#tagsModal" style="font-size: 18px !important; background-color: None; border-color:None;">
                        <i class="fas fa-tag"></i>
                        Tags
                    </button>
                    <div class="form-floating mb-3 full-width">
                        <span style="font-size: 12px;">Programas/Condições Clínicas/Doenças</span></br>
                        <input type="text" class="form-control" id="portaria_exclusao_link" name="portaria_exclusao_link" readonly>
                    </div>
                    
                </div>
            </div>

            <div class="section">
                <h3>Outros Sistemas</h3>
                <div class="grid" style="font-size: 14px; align-items: center;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sigtap_codigo" name="sigtap_codigo" readonly style="width: 150px;">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">SIGTAP - Código</label>
                    </div>
                    <div class="form-floating mb-3 full-width" style="max-width: 78%;">
                        <input type="text" class="form-control" id="sigtap_nome" readonly name="sigtap_nome">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">SIGTAP - Nome</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sigtap_possui" name="sigtap_possui" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                        <label class="form-check-label" for="sigtap_possui">Não possui SIGTAP</label>
                    </div>
                </div>
                <div class="grid" style="font-size: 14px; align-items: center;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sismat_codigo" readonly name="sismat_codigo" style="width: 150px;">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">SISMAT - Código</label>
                    </div>
                    <div class="form-floating mb-3 full-width" style="max-width: 78%;">
                        <input type="text" class="form-control" id="sismat_nome" readonly name="sismat_nome">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">SISMAT - Nome</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sismat_possui" name="sismat_possui" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                        <label class="form-check-label" for="sismat_possui">Não possui SISMAT</label>
                    </div>
                </div>
                <div class="grid" style="font-size: 14px; align-items: center;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="catmat_codigo" readonly name="catmat_codigo" style="width: 150px;">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">CATMAT - Código</label>
                    </div>
                    <div class="form-floating mb-3 full-width" style="max-width: 78%;">
                        <input type="text" class="form-control" id="catmat_nome" readonly name="catmat_nome">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">CATMAT - Nome</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="catmat_possui" name="sismat_possui" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                        <label class="form-check-label" for="catmat_possui">Não pssui CATMAT</label>
                    </div>
                </div>
                <div class="grid" style="font-size: 14px; align-items: center;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="obm_codigo" readonly name="obm_codigo" style="width: 150px;">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">OBM - Código</label>
                    </div>
                    <div class="form-floating mb-3 full-width" style="max-width: 78%;">
                        <input type="text" class="form-control" id="obm_nome" readonly name="obm_nome">{{ form.instance.denominacao|default_if_none:'' }}
                        <label for="observacoes">OBM - Nome</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="obm_possui" name="obm_possui" {% if form.instance.unidade_estrategico %}checked{% endif %}>
                        <label class="form-check-label" for="obm_possui">Não possui OBM</label>
                    </div>
                </div>
            </div>

            <div class="section">
                <h3>Observações Gerais</h3>
                <div class="grid" style="font-size: 14px;">
                    <div class="form-floating mb-3 full-width">
                        <textarea class="form-control auto-expand" id="observacoes" name="observacoes" rows="1">{{ form.instance.denominacao|default_if_none:'' }}</textarea>
                        <label for="observacoes">Observações</label>
                    </div> 
                </div>
            </div>
        </form>
    </div>
    

    
    <script>
        $(document).ready(function() {
            var tags_produtos = {{ tags_produtos|safe }};  // Usando a variável JSON

            var content = "";
            var colCount = 0;
            var itemsPerColumn = Math.ceil(tags_produtos.length / 3);  // Dividindo por 5

            tags_produtos.forEach(function(tag, index) {
                if (index % itemsPerColumn == 0) {
                    if (colCount > 0) {
                        content += "</div>";  // fechar a coluna anterior
                    }
                    content += "<div class='tags-column col'>";  // iniciar uma nova coluna e usando a classe 'col' do Bootstrap para grid
                    colCount++;
                }
                content += "<input type='checkbox' id='tag_" + tag[0] + "' value='" + tag[0] + "'> <label for='tag_" + tag[0] + "'>" + tag[1] + "</label><br>";
            });
            content += "</div>";  // fechar a última coluna

            $(".modal-body").html(content);
        });

    </script>
    <script src="{% static 'js/produtos.js' %}"></script>

{% endblock %}