{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '\styles\produtos_daf.css' %}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-pills"></i>Produtos DAF / Produtos Farmacêuticos
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button active" id="produtosFarmaceuticos" onclick="location.href='{% url 'produtos' %}'">Produtos Farmacêuticos</button>
            <button class="tab-button" id="denominacoesGenericas" onclick="location.href='{% url 'denominacoes' %}'">Denominações Genéricas</button>
        </div>
    </div>


    <div class="horizontal-sections">
        
        <div class="section numbers">
            <div class="filter-title">
                Total de Produtos
            </div>
            <div id="numeroDenominacoes" class="total-geral">{{ numero_denominacoes }}</div>
        </div>
        
        <div class="section filter">
            <div class="filter-title">Filtros
                Filtros
            </div>
            
            <!-- Tipo de Produto -->
            <div class="form-floating tipo-produto">
                <select class="form-select" aria-label="Floating label select example" name="tipo_produto" id="tipo_produto">
                    <option value="" disabled {% if not tipo_produto.value %}selected{% endif %}></option>
                    {% for value, display in TIPO_PRODUTO %}
                    <option value="{{ value }}" {% if tipo_produto.value == value %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Tipo de Produto</label>
            </div>
            
            <!-- Denominação Genérica -->
            <div class="form-floating  denominacao">
                <input type="text" class="form-control" id="denominacao" name="denominacao">
                <label for="floatingInput">Produto Farmacêutico</label>
            </div>
            
            <!-- Unidades -->
            <div class="unidades">
                <span>Unidades</span></br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="basico" value=1>
                    <label class="form-check-label" for="basico">Básico</label> <!-- Corrigido aqui -->
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="especializado" value=1>
                    <label class="form-check-label" for="especializado">Especializado</label> <!-- Corrigido aqui -->
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="estrategico" value=1>
                    <label class="form-check-label" for="estrategico">Estratégico</label> <!-- Corrigido aqui -->
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="farmacia_popular" value=1>
                    <label class="form-check-label" for="farmacia_popular">Farm. Popular</label> <!-- Corrigido aqui -->
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hospitalar" value=1>
                    <label class="form-check-label" for="hospitalar">Hospitalar</label> <!-- Corrigido aqui -->
                </div>
            </div>
                
            <button class="custom-btn limpar-filtro">
                <i class="fa fa-times" style="font-size: 1.5vw" title="Limpar filtros"></i>
                <span style="font-size: 10px;">Limpar Filtros</span>
            </button>
        </div>

        <div class="section funcionalidades">
            <div style="font-size: 12px; font-weight: bold;">
                Funcionalidades
            </div>
            <div class="btn-container">
                <a href="{% url 'nova_denominacao' %}" style="text-decoration: none;">
                    <button class="custom-btn" id="inserir">
                        <div class="icon-container">
                            <i class="fa fa-plus-circle" style="font-size: 1.5vw"></i>
                            <span>Inserir</span>
                        </div>
                    </button>
                </a>
                <button class="custom-btn" id="exportarBtn">
                    <div class="icon-container">
                        <i class="fa fa-download" style="font-size: 1.5vw"></i>
                        <span>Exportar</span>
                    </div>                    
                </button>
                
            </div>   
        </div>
        
    </div>

        <div class="section-tabela">
            <table class="table table-striped table-hover" style="font-size: 12px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>CGAFB</th>
                    <th>CGAFME</th>
                    <th>CGCEAF</th>
                    <th>CGFP</th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="window.location='{% url 'produtos_ficha' product_id='DAF1' %}'">
                    <td>DAF1</td> 
                    <td>Antibiox</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    </a>
                </tr>
                <tr>
                    <td>DAF2</td>
                    <td>PainRelief</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF3</td>
                    <td>FluAway</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF4</td>
                    <td>AllerStop</td>
                    <td>false</td>
                    <td>false</td>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF5</td>
                    <td>CoughEase</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF6</td>
                    <td>HeartFix</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF7</td>
                    <td>SkinCare</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF8</td>
                    <td>EyeClear</td>
                    <td>false</td>
                    <td>false</td>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF9</td>
                    <td>StomachEase</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF10</td>
                    <td>HeadRelief</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF1</td>
                    <td>Antibiox</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF2</td>
                    <td>PainRelief</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF3</td>
                    <td>FluAway</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF4</td>
                    <td>AllerStop</td>
                    <td>false</td>
                    <td>false</td>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF5</td>
                    <td>CoughEase</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF6</td>
                    <td>HeartFix</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF7</td>
                    <td>SkinCare</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF8</td>
                    <td>EyeClear</td>
                    <td>false</td>
                    <td>false</td>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>DAF9</td>
                    <td>StomachEase</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>DAF10</td>
                    <td>HeadRelief</td>
                    <td>false</td>
                    <td>true</td>
                    <td>false</td>
                    <td>true</td>
                </tr>
                </tbody>
            </table>
        </div>
    
    <script src="{% static 'js/produtos.js' %}"></script>

{% endblock %}