<!-- Modal -->
{% load static %}
<style>
    .tags-column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width {
        max-width: 80%;  /* ou qualquer largura que você desejar */
        font-size: 16px !important;
    }

</style>

<!-- Modal -->
<div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tags do Produto Farmacêutico</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- As tags serão carregadas aqui pelo script -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModalButton" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="button" class="btn btn-primary" id="salvarTags" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#tagsModal').modal('hide');
        });
    });
</script>

<script src="{% static 'js/produtos.js' %}"></script>
