{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/meusdados.css' %}">
    <link rel="stylesheet" href="{% static '\styles\_tabelas.css' %}">
    <link rel="stylesheet" href="{% static '\styles\_aderecos.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/fornecedores.css' %}"> -->
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-bars"></i>&nbsp;Mais Opções / Versões
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button" id="tabAjuda" onclick="location.href='{% url 'sisdaf_ajuda' %}'">&nbsp;Ajuda</button>
            <button class="tab-button" id="tabSugestoes" onclick="location.href='{% url 'sisdaf_sugestoes' %}'">&nbsp;Sugestões</button>
            <button class="tab-button" id="tabBancoDados" onclick="location.href='{% url 'sisdaf_banco_dados' %}'">&nbsp;Banco de Dados</button>
            
            <button class="tab-button" id="tabPontosControle" onclick="location.href='{% url 'sisdaf_pontos_controle' %}'">&nbsp;Pontos de Controle</button>
            <button class="tab-button" id="tabBacklog" onclick="location.href='{% url 'sisdaf_backlog' %}'">&nbsp;Backlogs</button>
            <button class="tab-button active" id="tabVersoes" onclick="location.href='{% url 'sisdaf_versoes' %}'">&nbsp;Versões</button>
        </div>
    </div>

    <h3 style="text-align: left; margin-left: 15px; font-size: 16px;">Histórico de Versões do SisDAF</h3>

    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabFornecedores">
            <thead>
                <tr >
                    
                    <th class="col-texto4">Versão</th>
                    <th class="col-texto12">Status</th>
                    <th class="col-texto10">Data</th>
                    <th>Informações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_versoes %}
                <tr data-id="{{ item.id }}">
                    <td class="col-texto4">{{ item.versao }}</td>
                    {% if item.status == 'em_desenvolvimento' %}
                        <td class="col-texto12">Em desenvolvimento</td>
                    {% elif item.status == 'ativo' %}

                        <td class="col-texto12"><span class="fundo-destaque status-ativo">{{ item.status|capfirst }}</span></td>
                    {% else %}
                        <td class="col-texto12">{{ item.status|capfirst }}</td>
                    {% endif %}
                    <td class="col-texto10">{{ item.data_versao|date:"d/m/Y" }}</td>
                    <td style="width: 75% !important;">{{ item.informacoes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        </div>
        
    </div>

<script src="{% static 'js/meus_dados.js' %}"></script>

{% endblock %}
