{% load static %}
    <!-- Barra Superior -->
    <div class="top-bar">
        <img src="{% static 'assets/logo/logo_sisdaf_negativo.png' %}" alt="Logo SisDAF" class="top-logo">
        <div class="logo-text">
            <span class="sisdaf-title">SisDAF</span>
            <span class="version-info">Versão 1.0</span>
        </div>
        <div class="unidade-info">
            <span class="user-label">Unidade DAF</span>
            <a span class="user-name">Gabinete</span>
        </div>
        <div class="user-info">
            <span class="user-label">Usuário</span>
            <a span class="user-name" href="{% url 'meusdados' %}">Nome do Usuário</span>
        </div>
    </div>